@import '_colors.scss';
@import '_mixins.scss';

.inputCtn {
  display: flex;
  align-items: center;
  color: $lightGrey;
  width: 90vw;
  padding: 0 .875rem;
  border: 1px solid $lightGrey;
  border-radius: 8px;
  position: relative;
  margin-bottom: .875rem;
  height: 3rem;

  @include desktop {
    width: 22.25rem;
    margin-left: auto;
    margin-right: auto;
  }

}

.label {
  position: absolute;
  top: .7rem
}
.input {
  border: none;
  padding-left: 1.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: -0.035em;
  width: 100%;
  outline: none;
}
