@import '_colors.scss';
@import '_mixins.scss';

.updateCtn {
  width: 90vw;
  margin: 0 auto
}

.backBtnCtn {
  @include desktop {
    width: 90vw;
    max-width: 52.5rem;
    margin: 0 auto;
  }
}

.backBtn {
  width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: unset;
  border: none;
  color: $lightBlue;
  height: 1.5625rem;
  cursor: pointer;
  margin: 1rem 0 1.5rem 0
}

.backBtnIcon {
  font-size: .875rem;
}

.backText {
  font-size: 1.125rem;
  letter-spacing: -0.035em;
  line-height: 1.5625rem;
}

.title {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.035em;
  color: $black;
}

.titleHelpText {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.1875rem;
  color: $lightGrey;
  letter-spacing: -0.035em;
  margin: .25rem 0 1.625rem 0;
  width: 90%;
}

.wrapper {
  @include desktop {
    width: 90vw;
    max-width: 52.5rem;
    border: 1px solid $divider;
    border-radius: 12px;
    margin: 2.75rem auto 0 auto;
    padding: 2rem 0 1.5rem 3rem;
  }
}
